In [1]:
import pandas as pd
import sys

In [2]:
#Defino path del archivo
csv_path = "C:/Users/Ruben D. Colmenares/Documents/TEC/Data Bootcamp/Github Repository/RubenColmenares/python-challenge/PyPoll/election_data.csv"

In [3]:
#Abro el archivo con Pandas
election_pd = pd.read_csv(csv_path)
election_pd.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [4]:
election_pd.describe()

           Voter ID
count  3.521001e+06
mean   1.500082e+07
std    2.886765e+06
min    1.000000e+07
25%    1.250072e+07
50%    1.500198e+07
75%    1.750010e+07
max    2.000000e+07

In [5]:
#count votes
votes = election_pd["Voter ID"].size
votes

3521001

In [6]:
candidates = election_pd["Candidate"].value_counts()
candidates

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [7]:
candidates
results_table = pd.DataFrame(candidates)

results_table

          Candidate
Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630

In [8]:
#Format into %
percentages = results_table["Candidate"]/votes*100
results_table["Votes(%)"] = percentages
#results_table["Votes(%)"] = pd.Series([round(val, 2) for val in results_table["Votes(%)"]], index = results_table.index)

results_table

          Candidate   Votes(%)
Khan        2218231  63.000011
Correy       704200  19.999994
Li           492940  13.999996
O'Tooley     105630   2.999999

In [9]:
winner = max(results_table["Candidate"])
winner

2218231

In [10]:
results_table["Candidate"]==winner

Khan         True
Correy      False
Li          False
O'Tooley    False
Name: Candidate, dtype: bool

In [11]:
results_table.loc[results_table["Candidate"]==winner,:]

      Candidate   Votes(%)
Khan    2218231  63.000011

In [12]:
results_table.index[results_table["Candidate"]==winner]

Index(['Khan'], dtype='object')

In [13]:
winner_candidate = list(results_table.index[results_table["Candidate"]==winner])
winner_candidate

['Khan']

In [14]:
#Final Print

#sys.stdout=open("main_output.txt","w")
print("Election Results: \n")
print("--------------------------- \n")
print("Total Votes: " + str(votes))
print("--------------------------- \n")
print(results_table)
print("--------------------------- \n")
print("Winner" + str(winner_candidate))
#sys.stdout.close()

Election Results:

---------------------------

Total Votes: 3521001
---------------------------

          Candidate   Votes(%)
Khan        2218231  63.000011
Correy       704200  19.999994
Li           492940  13.999996
O'Tooley     105630   2.999999
---------------------------

Winner['Khan']

In [ ]:
sys.stdout=open("main_output.txt","w")
print("Election Results: \n")
print("--------------------------- \n")
print("Total Votes: " + str(votes))
print("--------------------------- \n")
print(results_table)
print("--------------------------- \n")
print("Winner" + str(winner_candidate))
sys.stdout.close()