In [3]:
import pandas as pd

In [4]:
file_path = 'C:/Users/Ruben D. Colmenares/Documents/TEC/Data Bootcamp/Github Repository/RubenColmenares/Module 01/Pandas Homework/purchase_data.csv'

purchase_data = pd.read_csv(file_path)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [6]:
#Total Number of Players
number_of_players = purchase_data["SN"].unique()
len(number_of_players)

576

In [7]:
#Number of Unique Items
items = purchase_data["Item ID"].unique()
len(items)

183

In [8]:
#Average Purchase Price
avg_purchase = purchase_data["Price"].mean()
avg_purchase

3.050987179487176

In [9]:
#Total Number of Purchases
number_of_purchases = purchase_data["Purchase ID"]
len(number_of_purchases)

780

In [10]:
#Total Revenue
revenue = purchase_data["Price"].sum()
revenue

2379.77

In [12]:
summary = pd.DataFrame (
    [{"Total Players":len(number_of_players),
     "Number of Unique Items":[len(items)],
     "Average Purchase Price": [avg_purchase],
     "Total Number of Purchases": [len(number_of_purchases)],
     "Total Revenue": [revenue]
     }
    ]
)
summary

,Average Purchase Price,Number of Unique Items,Total Number of Purchases,Total Players,Total Revenue
0,[3.050987179487176],[183],[780],576,[2379.77]

In [29]:
#Gender Demographics

demograph = purchase_data.groupby("Gender")


total_count = demograph.nunique()['SN']

#Alternative way:
#count = purchase_data_unique["Gender"].value_counts()
#count

percentage_players = total_count / len(number_of_players) * 100


summary_demographics = pd.DataFrame({"Percentage of Players": percentage_players, "Total Count": total_count})


summary_demographics

                       Percentage of Players  Total Count
Gender
Female                             14.062500           81
Male                               84.027778          484
Other / Non-Disclosed               1.909722           11

Purchasing Analysis (Gender)

In [40]:
#Purchasing Analysis (Gender)

purchase_count = demograph['Purchase ID'].count()
#purchase_count

purchase_avg = demograph['Price'].mean()
#purchase_avg

purchase_total = demograph['Price'].sum()
#purchase_total

avg_purchase_per_gender = purchase_total / total_count
#avg_purchase_per_gender

purchasing_analysis = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": purchase_avg, "Total Purchase Value":purchase_total, "Average Purchase Total per Person by Gender":avg_purchase_per_gender})

purchasing_analysis.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person by Gender
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

Age Demographics

In [44]:
bins = [0, 9.9, 14, 19, 25, 30, 35, 40, 100]

# Create labels for these bins

views_label = ['0 - 10', '10 - 14', '15 - 19', '20 - 25', '25 - 30', '30 - 35', '35 - 40', '+40']

purchase_data["Age Group"] = pd.cut(purchase_data["Age"],bins, labels=views_label)

#purchase_data.head()

age_demograph = purchase_data.groupby("Age Group")
total_count_age = age_demograph["SN"].nunique()

purchase_count_age = age_demograph['Purchase ID'].count()
#purchase_count

purchase_avg_age = age_demograph['Price'].mean()
#purchase_avg

purchase_total_age = age_demograph['Price'].sum()
#purchase_total

avg_purchase_per_age = purchase_total_age / total_count_age
#avg_purchase_per_age

purchasing_analysis_age = pd.DataFrame({"Purchase Count": purchase_count_age, "Average Purchase Price": purchase_avg_age, "Total Purchase Value":purchase_total_age, "Average Purchase Total per Person by Age Group":avg_purchase_per_age})

purchasing_analysis_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person by Age Group
Age Group,,,,
0 - 10,23,3.353478,77.13,4.537059
10 - 14,28,2.956429,82.78,3.762727
15 - 19,136,3.035956,412.89,3.858785
20 - 25,424,3.056509,1295.96,4.305515
25 - 30,77,2.875584,221.42,3.752881
30 - 35,52,2.994423,155.71,4.208378
35 - 40,33,3.404545,112.35,4.321154
+40,7,3.075714,21.53,3.075714

Top Spenders

In [50]:
top_spenders = purchase_data.groupby("SN")

#Purchase Count
count_purchases = top_spenders["Item ID"].count()

#Average Purchase Price
avg_purchase_price = top_spenders["Price"].mean()

#Total Purchase Value
total_purchase_price = top_spenders["Price"].sum()

top_spenders_analysis = pd.DataFrame({"Purchase Count": count_purchases, "Average Purchase Price": avg_purchase_price, "Total Purchase Value":total_purchase_price})
top_spenders_analysis

#Show top 5, based on Total Purchase Value:
top_spenders_analysis.nlargest(5, 'Total Purchase Value')

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

Most Popular Items

In [57]:
top_items = purchase_data.groupby("Item Name")

#Purchase Count
count_items = top_items["Item Name"].count()
count_items

#Identify the 5 most popular items by purchase count, then list (in a table):
#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value
total_purchase_item = top_items["Price"].sum()

top_items_analysis = pd.DataFrame({"Purchase Count": count_items, "Total Purchase Value":total_purchase_item})
top_items_analysis

#Show top 5, based on Total Purchase Value:
top_items_analysis.nlargest(5, 'Total Purchase Value')

,Purchase Count,Total Purchase Value
Item Name,,
Final Critic,13,59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,50.76
Nirvana,9,44.10
Fiery Glass Crusader,9,41.22
Singed Scalpel,8,34.80

Most Profitable Items

In [59]:
#Show top 5, based on Total Purchase Value:
top_items_analysis.nlargest(5, 'Purchase Count')

,Purchase Count,Total Purchase Value
Item Name,,
Final Critic,13,59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,50.76
"Extraction, Quickblade Of Trembling Hands",9,31.77
Fiery Glass Crusader,9,41.22
Nirvana,9,44.10