In [1]:
import pandas as pd

In [4]:
file_path = 'C:/Users/Ruben D. Colmenares/Documents/TEC/Data Bootcamp/Github Repository/RubenColmenares/Module 01/Pandas Homework/purchase_data.csv'

purchase_data = pd.read_csv(file_path)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [6]:
#Total Number of Players
number_of_players = purchase_data["SN"].unique()
len(number_of_players)

576

In [11]:
#Number of Unique Items
items = purchase_data["Item ID"].unique()
len(items)

183

In [13]:
#Average Purchase Price
avg_purchase = purchase_data["Price"].mean()
avg_purchase

3.050987179487176

In [15]:
#Total Number of Purchases
number_of_purchases = purchase_data["Purchase ID"]
len(number_of_purchases)

780

In [16]:
#Total Revenue
revenue = purchase_data["Price"].sum()
revenue

2379.77